html {
	overflow-y: scroll;
	margin: 0;
	padding: 0;
}
body {
	background:  url(../images/bg_body.jpg) repeat scroll top center;
	margin: 0px;
	padding: 0px;

}
#page-container {
	background:  url(../images/bg_header.png) repeat-x scroll left top;
}
body, td, th, input, textarea, select, a {
	outline: 0 none;
}

a:focus {
	outline: 0 none;
	}
.fs9{ font-size:9px; }
.fs10{ font-size:10px; }
.fs11{ font-size:11px; }
.fs12{ font-size:11px; }
.fs13{ font-size:13px; }
.fs14{ font-size:14px; }
.fs15{ font-size:15px; }
.fs16{ font-size:16px; }
.welcome {
	color: #636E75;
	font: Verdana;
	margin-top: 0px;
	margin-bottom: 20px;
	font-size: 32px;
	font-weight: normal;
	text-shadow: 0 0 1px rgba(0, 0, 0, .01);
}
p {
	margin-top: 0px;
	margin-bottom: 5px;
}
a, a:visited, a b {
	cursor: pointer;
}
a:hover {
	text-decoration: none;
	color: #c24913;
}
a img {
	border: none;
}
form {
	padding: 0;
	margin: 0;
	display: inline;
}
input[type='text'], input[type='password'] {
	height: 22px;
	line-height: 22px;
}

input[type='text'], input[type='password'], textarea {
	background: #fff;
	border: 1px solid #dcdcdc;
	box-shadow: none;
	border-radius: 0;
	padding: 4px 5px 5px;
	margin-left: 0px;
	margin-right: 0px;
	width:98%;
}
.quantity input[type="text"],
input[name='quantity'] {
	margin-bottom: 0;
    padding-bottom: 3px;
    padding-top: 3px;
    text-align: center;
    width: 20px;
}
input[name='captcha'] {
	width: 40%;
	margin-bottom: 10px;
}
select {
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DCDCDC;
    padding: 4px;
	width: auto;
	margin-bottom: 0;
}
.radio input[type="radio"], .checkbox input[type="checkbox"] {
	margin-left: -10px;
}
input[type="radio"], input[type="checkbox"]{
	margin-top: 0;
}
label {
	cursor: pointer;
	display:  inline-block;
	margin-bottom: 0;
}
ul,ol {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
h1, h2,h3,h4,h5,h6 {
	font-family: "Georgia", arial;
	margin: 0;
	font-weight: normal;
}
h1 {
	font-size: 33px;
	margin-bottom: 10px;
	line-height: 40px;
	color: #c24913;
}
h2 {
	color: #3E4141;
    font-size: 20px;
}
h3 {
	font-size: 18px;
	line-height: 44px;
	color: #5e4a32;
}
h4 {
	font-size: 16px;
	text-transform: uppercase;
	color: #c24913;
}
ul.list li  {
	background: url(../images/icon_li.png) no-repeat left 8px scroll;
	padding: 3px 0 3px 15px;
}
 ul.list li:hover  {
	background-position: left -40px;
}
ul.list li a {
    display: block;
}
/* layout */
/*
#container {
	width: 980px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}*/
#column-left {
	 
}
#column-right {

}
#content {
}
#column-left + #column-right + #content, #column-left + #content {

}
#column-right + #content {
	
}
.container{
	position:relative;
	padding-left: 10px;
	padding-right: 10px;
}
#columns .container {
	background-color: #ffffff;
	box-shadow: 0 0 1px 0 rgba(179, 144, 100, 0.5);
}
/*menu*/

#off-canvas-nav .megamenu li.home a {
	 height: auto;
	 width: auto;
	 text-indent: inherit;
	 background: none;
}
#mainnav .container {
	background: url(../images/bg-menu.png) repeat left top scroll;
	margin-bottom: 10px;
}

.navbar .nav {
	
}
.navbar .nav > li {
	margin-right: 1px;
}
.navbar .nav > li:first-child {
}
.navbar .nav > li:last-child {
}
.navbar .nav > li > a {
	text-shadow: none;
	padding:  0 20px;
	line-height: 34px;
}
.nav-collapse .nav > li.open > a,
.navbar .nav > li:hover > a{
	border-top: 1px solid #705b41;
	border-bottom: 1px solid #705b41;
	margin-top: -1px;
	margin-bottom: -1px;
}
.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
	background-color: transparent;
}
.nav-collapse .nav > li.open,
.nav-collapse .nav > li:hover {
    background: #5c4a32;
    border-top: 4px solid #4d3f2a;
    border-bottom: 4px solid #4d3f2a;
    margin-top: -4px;
    margin-bottom: -4px;
}
.navbar .nav > li > a {
    font-family: "Georgia",arial;
    font-size: 16px;
    text-shadow: none;
}
.navbar .nav > li > a.dropdown-toggle {
	padding-right: 23px;
}
.navbar .nav li.dropdown > .dropdown-toggle .caret {
	margin-top: -4px;
    right: 8px;
}

.navbar .nav li.dropdown > a:hover .caret, .navbar .nav li.dropdown > a:focus .caret {
    border-bottom-color: #FFFFFF;
    border-top-color: #FFFFFF;
}
.navbar .nav > li > .dropdown-menu:after {
    border-bottom: none;
	border-right: none;;
    border-left: none;
    border-right: none;
    content: "";
    display: inline-block;
    left: 25px;
    position: absolute;
    top: -11px;
}
.navbar .nav > li > .dropdown-menu:before {
    border-bottom: none;
    border-left: none;
    border-right: none;
    content: "";
    display: inline-block;
    left: 24px;
    position: absolute;
    top: -12px;
}
.navbar .nav li > .dropdown-menu {
	padding: 10px;
	box-shadow:  none;
	margin-top: 4px !important;
}
.dropdown-menu {
	box-shadow: 0 0 10px #999;
	border-radius: 0;
	margin: 0!important;
	border: none;
}
.dropdown .dropdown-menu li:last-child ,
.megamenu .dropdown-mega li:last-child {
	border-bottom: 0px solid #f1f1f1;
}

.dropdown .dropdown-menu li{
	color: #9a9083;
	background: url(../images/arrow-li.png) no-repeat scroll left -116px;
	padding: 3px 0 3px 12px;
	display:  block;
}
.dropdown .dropdown-menu li:hover{
	color: #fff;
	background-position: left -71px!important;
}
.dropdown .dropdown-menu li a{
	color: #9a9083;
}
.dropdown .dropdown-menu li a:hover{
color: #fff;}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
  background: none;
  color: #5c4a32;
 }
 .dropdown-menu > li > a {
	padding: 0;
}
.nav .caret{
	position:absolute;
	top:20px;
	right:1px;
}

/* header */
#header {
	background: url(../images/header1.png) repeat-x scroll left top;
	z-index: 5px;
	padding-top: 15px;
	position:  relative;
}
/*headertop*/
#headertop .container {
	background: none;
}
#headertop .login {
    line-height: 30px;
}
#headertop .currency {
    line-height: 30px;
}

/*headerbottom*/
#header #logo {
	padding: 0 0 30px 0;
	text-align: center;
}

.header-right .wrap-link{
	margin: 15px 0;
}
.language {
	margin-left: 10px;
	line-height: 30px;
}
#language img {
	cursor: pointer;
	margin-right: 5px;
}
#currency {
}
#currency a {
	padding: 0px 4px;
	text-decoration: none;
}
#currency a b {
	color: #000;
	text-decoration: none;
}
#freeship,#cart {
	background-image: url(../images/shopping-cart.png);
	background-repeat: no-repeat;
	padding-left;
	padding: 10px 0 5px 50px;
	margin-top: 15px;
	margin-bottom: 15px;
	color: #735d42;
	font-size: 14px;
	font-family: "Georgia", arial;
	display:  inline-block;
}
#freeship{
	background-position: left 8px;
}
#cart {
	background-position: left -99px;
}
#header #cart {
	position:relative;
	right: 0;
	z-index: 9;
	
}
#header #cart .heading {
	position: relative;
	z-index: 1;
}
#header #cart .heading h4 {
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
}
#header #cart .heading a {
	text-decoration: none;
	padding-left: 5px;
	display: inline-block;
	zoom: 1;
	*display: inline;
}
#header #cart .heading a span {
	background: url('../image/arrow-down.png') 100% 50% no-repeat;
	padding-right: 15px;
}
#header #cart .content {
	clear: both;
	display: none;
	position: absolute;
	top: 47px;
	padding: 8px;
	min-height: 150px;
	border-top: 6px solid #5c4a32;
	box-shadow: 0px 0px 2px #bbb;
	background: #FFF;
	min-width:300px;
	right: -20px;
}
#header #cart.active .heading {

}
#header #cart.active .content {
	display: block;
}
.mini-cart-info table {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 5px;
}
.mini-cart-info td {
	color: #000;
	vertical-align: top;
	padding: 10px 5px;
	border-bottom: 1px solid #EEEEEE;
}

.mini-cart-info .image img {
	border: 1px solid #EEEEEE;
	text-align: left;
}
.mini-cart-info .name small {
	color: #666;
}
.mini-cart-info .quantity {
	text-align: right;
}
.mini-cart-info td.total {
	text-align: right;
}
.mini-cart-info .remove {
	text-align: right;
}
.mini-cart-info .remove img {
	cursor: pointer;
}
.mini-cart-total {
	text-align: right;
}
.mini-cart-total table {
	border-collapse: collapse;
	display: inline-block;
	margin-bottom: 5px;
}
.mini-cart-total td {
	color: #000;
	padding: 4px;
}
#header #cart .checkout {
	text-align: right;
	clear: both;
}
#header #cart .empty {
	padding-top: 50px;
	text-align: center;
}
#header #search {
	position:relative;
	z-index: 2;
	top: 35px;
}

#header .button-search {
	background: url(../images/bg-input.png) repeat-x left top scroll;
	border-top: 1px solid #555;
	border-bottom: 1px solid #272727;
	color: #FFFFFF;
    cursor: pointer;
    float: right;
    height: 31px;
    line-height: 31px;
    padding: 0 23px 0 24px;
    text-transform: uppercase;
	position: absolute;
    right: 0;
}
#header #search input {
	width: 73%;
}
#header #welcome {
	color: #999999;
}
.login a {
	padding-left: 5px;
	padding-right: 5px;
	color: #735d42;
}
#header .links {
	padding: 5px 0;
	margin-left: 15px;
}
#header .links a {
	padding-left: 7px;
	padding-right: 7px;

	color: #735d42;
}
.login a:hover,#header .links a:hover {
	color: #c24913;
}

#header .links a.last{
	border-right: none;
	padding-right: 0;
}
#header .links a + a {
}



/*show-mobile*/
.show-mobile {
	margin: -36px 10px 5px 0;
}
.show-mobile:before,
.show-mobile:after {
  content: " ";
  display: table;
}
.show-mobile:after {
  clear: both;
}
.show-mobile > div {
  margin: 0;
  padding: 0;
  position: relative;
}
.show-mobile > div:hover .inner-toggle {
  display: block;
}
.show-mobile .quickaccess-toggle {
  background-color: #53432D;
   border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1) ;
    border-right: 1px solid rgba(0, 0, 0, 0.1) ;
	 border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    -o-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.075);
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.075);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.075);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.075);
  border-radius: 4px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 14px;
    height: 31px;
    line-height: 31px;
    margin-left: 1px;
    text-align: center;
    width: 33px;
}
.show-mobile .quickaccess-toggle:hover {
  color: #FFFFFF;
  background-color: #614F39;
}
.show-mobile .inner-toggle {
  display: none;
  position: absolute;
  background: #FFFFFF;
  right: 0;
  top: 100%;
  min-width: 170px;
  padding: 10px;
  z-index: 99999;
  border-top: 5px solid #614F39 ;
  border-right: 1px solid #614F39;
  border-left: 1px solid #614F39;
  border-bottom: 1px solid #614F39;
}
.show-mobile ul,
.show-mobile .links {
  float: none;
  padding: 0;
  margin: 0;
  text-align: left;
}
.show-mobile ul li,
.show-mobile .links li {
  float: none;
  display: block;
}
.show-mobile ul.links li > a span {
	margin-right: 10px;
}
.show-mobile ul a,
.show-mobile .links a {
  float: none;
  margin: 0;
  padding: 0;
  line-height: 22px;
  background-color: transparent;
  border: none;
}
.show-mobile ul a:hover,
.show-mobile .links a:hover {
}
.show-mobile #search {
  padding-bottom: 0;
  padding-top: 0;
  position: relative;
  right: 0;
  top: 0;
  margin: 0;
}
.show-mobile #search input {
	width: 70%;
	height: 22px;
	}
.show-mobile .currency,
.show-mobile .language {
  margin: 0 5px;
}
.show-mobile .currency .dropdown-menu,
.show-mobile .language .dropdown-menu {
  left: 0;
  right: auto;
}
.show-mobile .currency button,
.show-mobile .language button {
  height: 30px;
  padding: 0 10px;
}
/*mainnav*/
.mainnav-inner {
	border: 1px solid #887052;
	margin:  3px -7px;
	box-shadow: 0 0 0 2px rgba(70,70,70,0.2);
}
.navbar-inner {
	border: none;
	box-shadow: none;
	border-radius: 0;
	padding-left: 0;
	padding-right: 0;
	
	background: none;
}
.navbar {
	 margin-bottom: 0;
}

/*search*/
#search {
	position: relative;
	right: 6px;
    top: 6px;
}
#search .button-search {
	background: url(../images/icon-search.png) no-repeat center center #FA9519;
    display: inline-block;
    height: 22px;
    overflow: hidden;
    text-indent: -9999em;
    width: 22px;
    cursor: pointer;
}
#search input {
	background: none repeat scroll 0 0 #53432D;
    border: medium none;
    box-shadow: 0 0 1px 0 rgba(179,144,100,0.5), 0 0 3px 1px #4d3f2a inset;
    float: left;
    margin-bottom: 0;
    padding: 0 10px;
    width: 80%;
    border-radius: 11px 0 0 11px;
    color:#947957;
}
.breadcrumb {
	  background: none repeat scroll 0 0 transparent;
    border-radius: 0 0 0 0;
    font-family: "Georgia", Arial;
    font-size: 13px;
    padding: 0 20px;
    line-height:  40px;
    border-bottom: 1px solid #e5e0d9;
    margin:  0 -10px 10px -15px;
}
.success, .warning, .attention, .information {
	padding: 10px 10px 10px 33px;
	margin-bottom: 15px;
	color: #555555;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
.success {
	background: #EAF7D9 url('../image/success.png') 10px center no-repeat;
	border: 1px solid #BBDF8D;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
.warning {
	background: #FFD1D1 url('../image/warning.png') 10px center no-repeat;
	border: 1px solid #F8ACAC;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
.attention {
	background: #FFF5CC url('../image/attention.png') 10px center no-repeat;
	border: 1px solid #F2DD8C;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
.success .close, .warning .close, .attention .close, .information .close {
	float: right;
	padding-top: 4px;
	padding-right: 4px;
	cursor: pointer;
}
.required {
	color: #FF0000;
	font-weight: bold;
}
.error {
	display: block;
	color: #FF0000;
}
.help {
	color: #999;
	font-size: 10px;
	font-weight: normal;
	font-family: Verdana, Geneva, sans-serif;
	display: block;
}
table.form {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}
table.form tr td:first-child {
	width: 150px;
}
table.form > * > * > td {
	color: #000000;
}
table.form td {
	padding: 4px;
}
input.large-field, select.large-field {
	width: 93%;
}
table.list {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
table.list td {
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}
table.list thead td {
	background-color: #EFEFEF;
	padding: 0px 5px;
}
table.list thead td a, .list thead td {
	text-decoration: none;
	color: #222222;
	font-weight: bold;
}
table.list tbody td {
	padding: 0px 5px;
}
table.list .left {
	text-align: left;
	padding: 7px;
}
table.list .right {
	text-align: right;
	padding: 7px;
}
table.list .center {
	text-align: center;
	padding: 7px;
}
table.radio {
	width: 100%;
	border-collapse: collapse;
}
table.radio td {
	padding: 5px;
}
table.radio td label {
	display: block;
}
table.radio tr td:first-child {
	width: 1px;
}
table.radio tr td:first-child input {
	margin-top: 1px;
}
table.radio tr.highlight:hover td {
	background: #F1FFDD;
	cursor: pointer;
}
.pagination {
    display: inline-block;
    margin: 0 15px 0 0;
    padding: 0;
    width: 75%;
	zoom: 1;
	*display: inline;
}
.pagination .links {
	float: left;
}
.pagination .links a {
	color: #b0b0b0;
}
.pagination .links b {
	color: #7d7d7d;
}
.pagination .results {
	float: right;
}
.pagination .links a,
.pagination .links b {
	background-color: #fdfcfa;
	background-image: -moz-linear-gradient(top, #fdfcfa, #e9e6dd);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fdfcfa), to(#e9e6dd));
	background-image: -webkit-linear-gradient(top, #fdfcfa, #e9e6dd);
	background-image: -o-linear-gradient(top, #fdfcfa, #e9e6dd);
	background-image: linear-gradient(to bottom, #fdfcfa, #e9e6dd);
	background-repeat: repeat-x;
	border-top: 1px solid #ece8dd;
	border-bottom: 1px solid #d3cec2;
	border-right: 1px solid #e0dbd0;
	border-left: 1px solid #e0dbd0;
	font-size: 12px;
	display: inline-block;
	zoom: 1;
	*display: inline;
	text-decoration: none;
	color: #A3A3A3;
	height: 23px;
    line-height: 23px;
    text-align: center;
    text-decoration: none;
    width: 23px;
    border-radius:  3px;
}
/* button */
.checkout > a {
	display: inline-block;
	zoom: 1;
	*display: inline;
	padding: 0 15px;
}
.checkout > a,
a.button, input.button {
    cursor: pointer;
    font-family: "Georgia",Arial,Helvetica,sans-serif;
    background: #5c4a32;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    display: inline-block;
	zoom: 1;
	*display: inline;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
	font-size: 13px;
}

input.button {
	margin: 0;
	border: 0;
	padding: 0px 18px 0px 18px;
}
.checkout > a:hover,
a.button:hover, input.button:hover {
	background: #C24913;
}
.buttons {
	background: #FFFFFF;
	border: 1px solid #EEEEEE;
	overflow: auto;
	padding: 6px;
	margin-bottom: 20px;
}
.buttons .left {
	float: left;
	text-align: left;
}
.buttons .right {
	float: right;
	text-align: right;
}
.buttons .center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.htabs {
	height: 25px;
	line-height: 25px;
	background: #eceadf;
	border: 3px solid #eceadf;
	 display:  inline-block;
}
.htabs a {
	color: #897446;
    display: none;
    float: left;
    font-family: "Georgia",arial;
    font-size: 16px;
    padding: 0 15px;
    text-align: center;
    text-decoration: none;
}
.htabs a.selected {
	color: #f1e7d2;
	background: url(../images/bg-menu.png) repeat scroll left top;
}
.tab-content {
	padding: 5px 0;
	margin-bottom: 20px;
	z-index: 2;
	overflow: hidden;
}
.sitemap-info ul li {
    list-style: disc outside none;
    margin-left: 15px;
}
/* box */
.box {
	margin-bottom: 20px;
	position:  relative;
}
.box-heading h3 {
	background: url(../images/bg-menu.png) repeat scroll left top;
	color:  #fff;
	font-size: 24px;
}

.box-heading h3 > span {

	display: inline-block;
	zoom: 1;
	*display: inline;
}
.box .box-content {

}
#columns .box-heading {
}
/* box products */
.box-product {
	width: 100%;

}
.box-product > div {
}
 
.box-product .image {
	display: block;
	margin-bottom: 0px;
	   text-align: center;
}
.box-product .image img {
	width: 100%;
}
/*product-block */
.product-block .name a {
	text-decoration: none;
	display: block;
	font-size: 15px;
    margin: 10px 0 5px;
	font-family: "Georgia",arial;
}
.product-block .name a:hover {
	color: #5c4a32;
}
.product-block .price {
	color: #F6470A;
    display: block;
    font-family: arial;
    font-size: 16px;
    margin: 8px 0 5px;
}
.product-block .price-old {
	color: #6E6F70;
	margin-right: 10px;
	text-decoration: line-through;
}
.product-block .rating {
	display: block;
	margin-bottom: 4px;
}
/* box category */
ul.box-category, ul.box-category ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.box-category > li:first-child {
}

ul.box-category > li ul {
	display: none;
}

ul.box-category   li.haschild {
	background:url(../images/arrow-li-children.png) no-repeat 94% 12px scroll;
}
ul.box-category > li + li {
}
ul.box-category > li a.active {
}
ul.box-category > li a.active + ul {
	display: block;
}
ul.box-category > li ul > li {
	padding-left: 15px;
	padding-right:0;
}
ul.box-category > li ul > li > a {
	text-decoration: none;
}
ul.box-category > li ul > li > a.active {
}
/* box filter */
ul.box-filter, ul.box-filter ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.box-filter span {
	font-weight: bold;
	border-bottom: 1px solid #EEEEEE;	
	display: block;
	padding-bottom: 5px;
	margin-bottom: 8px;
}
ul.box-filter > li ul {
	padding-bottom: 10px;
}
/* content */
#content .content {
	padding: 10px;
	overflow: auto;
	margin-bottom: 20px;
	border: 1px solid #EEEEEE;
}
#content .content .left {
	float: left;
	width: 49%;
}
#content .content .right {
	float: right;
	width: 49%;
}
/* category */
.category-info {
}
.category-info p {
	margin: 0;
}
.category-info .image {
}
h1.title-category {
	color: #5e4a33;
}
.category-list {
    margin-bottom: 20px;
    margin-top: 20px;
    overflow: auto;
}
.category-list ul {
}
.category-list ul li{
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
}
.category-list ul li a {
    background-color: #5c4a32;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
	zoom: 1;
	*display: inline;
    padding: 5px 16px;
    text-indent: 0;
    transition: all 0.3s ease 0s;
	 font-size: 12px;
    font-weight: bold;
}
.category-list ul li a:hover {
	background-color: #C24913;
}
/* manufacturer */
.manufacturer-list {
	border: 1px solid #DBDEE1;
	padding: 5px;
	overflow: auto;
	margin-bottom: 20px;
}
.manufacturer-heading {
	background: #F8F8F8;
	font-size: 15px;
	font-weight: bold;
	padding: 5px 8px;
	margin-bottom: 6px;
}
.manufacturer-content {
	padding: 8px;
}
.manufacturer-list ul {
	float: left;
	width: 25%;
	margin: 0;
	padding: 0;
	list-style: none;
	margin-bottom: 10px;
}
/* product */
.product-filter {
    padding: 0 10px;
	background: #eceadf;
	line-height: 36px;
	height: 36px;
	color: #897446;
}
.product-filter .display {
	margin-right: 15px;
	float: left;
}
.product-filter .display a{
	background-image: url(../images/list-grid.png);
	background-repeat: no-repeat;
	height:13px;
	width:13px;
	text-indent:-9999em;
	overflow:hidden;
	display: inline-block;
	zoom: 1;
	*display: inline;
	margin: 4px 4px 0;
}
.product-filter .display a.list {
	background-position: -22px top;
}
.product-filter .display a.list:hover,
.product-filter .display a.list.active {
	background-position: -22px -27px;
}
.product-filter .display a.grid {
	background-position: left 0px;
}
.product-filter .display a.grid:hover,
.product-filter .display a.grid.active {
	background-position: left -26px;
}
.product-filter .sort {
	float: right;
}
.product-filter .limit {
	margin-left: 15px;
	margin-right: 15px;
	float: right;
}
.product-filter select {
   	border: 1px solid #B9B7AD;
    border-radius: 0 0 0 0;
    color: #6E6F70;
    height: 20px;
    line-height: 20px;
    margin-bottom: 0;
    padding: 0;
}

.product-filter .product-compare {
	float: left;
}
.product-compare a {
	background-image: url(../images/icon_compare.png);
	background-repeat:  no-repeat;
	background-position: left top;
	padding-left: 17px;
	color: #897446;
}
.product-compare a:hover {

	background-position: left -56px;
	color: #b08146;
}
.product-filter-bottom {
    margin-bottom: 15px;
    overflow: hidden;
}
/*product-list*/
.product-list   div.product-block {
	margin-bottom: 15px;
	clear: both;
	display: inline-block;
}
.product-list .right {
	float: right;
	margin-left: 15px;
}
.product-list > div + div {
	border-top: 1px solid #EEEEEE;
	padding-top: 16px;
}
.product-list .product-block  .image {
	float: left;
	margin-right: 10px;
	width: 30%;
}
.product-list .image img {
}

.product-list .product-block .description {
	line-height: 15px;
	margin-bottom: 5px;
	color: #4D4D4D;
}

.product-list .product-block .group-item {
	display: block;
	padding: 0;
	float: left;
	left: 105%;
	height: auto;
	width: 228%;
	background: none;
	bottom:inherit;
	top: 45%;
}
.product-list .product-block .group-item .wishlist, 
.product-list .product-block .group-item .compare {
    width: auto;
	margin-right: 15px;
}

.product-list .product-block .group-item .wishlist a, 
.product-list .product-block .group-item .compare a,
.product-list  .product-block .group-item .cart  {
    text-indent: inherit;
    width: auto;
	height: auto;
}
.product-list .product-block .group-item  .wishlist a {
	text-decoration: none;
	padding-left: 18px;
	display: block;
	background: url('../image/add.png') left center no-repeat;
}
.product-list .product-block  .group-item .compare a{
	text-decoration: none;
	padding-left: 18px;
	display: block;
	background: url('../image/add.png') left 60% no-repeat;
}
.product-list .product-block  .group-item .wishlist:hover ,
.product-list .product-block  .group-item  .compare:hover,
.product-list .product-block  .group-item  .cart:hover{
	background-color: transparent;
}
.product-list .product-block .group-item .cart  {
	float: right;
}
.product-list .product-block .price-old {
	text-decoration: line-through;
	display: inline-block;
	zoom: 1;
	*display: inline;
}
.product-list .product-block .price-new {
	font-weight: bold;
}
.product-list .product-block .price .price-tax {
	font-size: 12px;
	font-weight: normal;
	color: #BBBBBB;
	display: block;
}
.product-list .product-block .cart {
	margin-bottom: 3px;
}


.product-grid,.product-list {
	margin-bottom: 10px;
}

.product-grid {
	width: 100%;
}
.product-grid > div {
	display: inline-block;
	zoom: 1;
	*display: inline;
	vertical-align: top;
}

 .product-list .row-fluid  [class*="span"] {
	width:100%;
	margin-left:0
}
.product-block {
	position: relative;
}

.product-block  {
	margin-top: 10px;
	margin-bottom: 10px;
}
 
.product-block .image {
	display: block;
	margin-bottom: 0px;
	text-align: center;
	border: 1px solid #e8ebf0;
	position: relative;
	border-radius:  5px;
	 padding: 3px;
	 overflow: hidden;
}
.product-block:hover .image {
	border: 1px solid #d8dadd;
	   box-shadow: 0 0 3px 0 #ccc;
}
.product-grid .image img {
	width: 100%;
}
.product-grid .name a {

}
.product-block .group-item {
	    bottom: 7%;
    position: absolute;
    width: 100%;
    display: none;
}

.product-block:hover .group-item{
	display: block;
	}

.product-block  .group-item a.wishlist:hover ,
.product-block  .group-item  a.compare:hover {
	background-color: #C24913;
}

.product-block  .group-item a.wishlist,
.product-block  .group-item  a.compare {
	background-image: url(../images/icon-add.png);
	background-repeat: no-repeat;	
	background-color: #98804d;
	border-radius: 17px;
    height: 32px;
    width: 32px;
    margin: 0 3px;
}
.product-block  .group-item a.wishlist,
.product-block  .group-item  a.compare{

	text-indent:-9999em;
	overflow: hidden;
	display: inline-block;
}
.product-block  .group-item a.wishlist{
	background-position:  7px 10px;
	}
.product-block  .group-item a.compare {
	background-position: 8px -37px;
	}
.product-block .price .price-tax {
	display: none;
}
.price-cart .cart span,
.product-block .cart span {
	background-image: url(../images/bg-cart.png);
	background-position: left top;
	background-repeat: repeat-x;
	display:  inline-block;
}
.price-cart .cart span:hover ,
.product-block:hover .cart span {
	background-position: left -31px;
}
.price-cart .cart span input,
.product-block .cart input {
	border-radius: 0;
	background: none;
	margin: 3px;
	line-height: 24px;
	height: 24px;
	border: 1px solid #c2c2c2;
	text-shadow: 0 1px 0 #565656;
}
.price-cart .cart span:hover input,
.product-block:hover .cart span input {
	border: 1px solid #a59073;
}
.product-block:hover .name a {
	color: #c24913;
}
.product-block .colorbox.product-zoom {
    left: 0;
    position: absolute;
    top: -50px;
    z-index: 15;
	overflow: hidden;
	 transition: all 1s ease 0s;
}
.product-block:hover .colorbox.product-zoom {
	top: 4px;
	left: 4px;
}
.product-block .colorbox.product-zoom span {
    background: none repeat scroll 0 0 #BCBCBC;
    color: #FFFFFF;
    display: inline-block;
    font-size: 18px;
    height: 35px;
    line-height: 35px;
    opacity: 0.5;
    text-align: center;
    width: 45px;
}
/* Product */
.product-info {
	overflow: auto;
	margin-bottom: 20px;
}
.product-info > .left {
	float: left;
	margin-right: 15px;
}
.product-info > .left + .right {
	margin-left: 265px;
}
.product-info .image.media-body {
    padding-right: 8px;
}
.product-info .image img {
	padding: 3px;
	border-radius: 3px;
	border: 1px solid #e4e8e8;
	text-align: center;
}
.product-info .image img#image{
}
.product-info .image-additional .item {
    padding: 0 28px;
}
.product-info .image-additional img {
	border: 1px solid #e4e8e8;
	border-radius: 3px;
    padding: 2px;
}
.product-info .image-additional a {
	display: block;
	margin-bottom: 10px;
}
.product-info .description {
    line-height: 20px;
    margin-bottom: 10px;
    padding: 10px 0 20px;
	background: url(../images/bg_title.png) repeat-x scroll left bottom ;
	font-style: italic;
}
.product-info .description span {
	    font-weight: bold;
    margin-right: 10px;
}
.product-info .description a {
	text-decoration: none;
}
.product-info  .price-cart {
	border-top: 1px solid #e5e5e5;
	margin-top: 10px;
    padding: 10px 0;
    overflow: hidden;
}
.product-info .compare-wish {
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 10px;
	clear: both;
}
.product-info .price {
    color: #f94b4b;
    float: left;
    font-family: arial;
    font-size: 18px;
    margin: 4px 10px 4px 0;

}
.product-info .price-old {
	color: #6E6F70;
    margin-right: 8px;
	 text-decoration: line-through;
}
.product-info .price-new {
}
.product-info .price-other {
	clear: both;
}
.product-info .price-tax {
	font-style: italic;
}
.product-info .price .reward {
	font-size: 12px;
	font-weight: normal;
	color: #999;
}
.product-info .price .discount {
	font-weight: normal;
	font-size: 12px;
	color: #4D4D4D;
}
.product-info .options {
	border-bottom: 1px solid #E7E7E7;
	padding: 0px 5px 10px 5px;
	margin-bottom: 10px;
	color: #000000;
}
.product-info .option-image {
	margin-top: 3px;
	margin-bottom: 10px;
}
.product-info .option-image label {
	display: block;
	width: 100%;
	height: 100%;
}
.product-info .option-image img {
	margin-right: 5px;
	border: 1px solid #CCCCCC;
	cursor: pointer;
}

.product-info .review {
	color: #4D4D4D;
	padding-bottom: 10px;
	 background: url(../images/bg_title.png) repeat-x scroll left bottom ;
}
.product-info .review > div {
	padding: 8px 0;
	line-height: 20px;
}
.product-info .review > div > span {
	color: #38B0E3;
}
.product-info .review .share {
	overflow: auto;
	line-height: normal;
}
.product-info .review .share a {
	text-decoration: none;
}
.product-info .compare-wish a {
	background-image: url(../images/icon-wish-compace.png);
	background-repeat: no-repeat;
	margin-right: 20px;
    padding-left: 20px;
}
.product-info .compare-wish a.wishlist {
	background-position: left 2px;
}
.product-info .compare-wish a.compare {
	background-position: left -27px;
}

.product-info .image-container .product-label-special{ 
	top:15px; right: 30px; }
	.product-label-special {
    background: none repeat scroll 0 0 #C24913;
    color: #FFFFFF;
    font-size: 11px;
    line-height: 20px;
    padding: 0 10px;
    position: absolute;
    right: 3px;
    text-align: center;
    top: 3px;
    z-index: 10;
}
.product-info .image {
	 margin-bottom: 20px;
	 position: relative;
	 text-align:center;
}
.product-info .image-additional a {
    display: block;
    float: left;
    margin-bottom: 10px;
    margin-left: 10px;
}
.product-info .image-additional .carousel-control {
    cursor: pointer;
    display: none;
    font-size: 21px;
    height: 20px;
    line-height: 17px;
    top: 60%;
    width: 20px;
}
.product-info .image-additional:hover .carousel-control {
    display: block;
}

.review-list {
	padding: 10px;
	overflow: auto;
	margin-bottom: 20px;
	border: 1px solid #EEEEEE;
}
.review-list .author {
	float: left;
	margin-bottom: 20px;
}
.review-list .rating {
	float: right;
	margin-bottom: 20px;
}
.review-list .text {
	clear: both;
}
.attribute {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
.attribute thead td, .attribute thead tr td:first-child {
	color: #000000;
	font-size: 14px;
	font-weight: bold;
	background: #F7F7F7;
	text-align: left;
}
.attribute tr td:first-child {
	color: #000000;
	font-weight: bold;
	text-align: right;
	width: 20%;
}
.attribute td {
	padding: 7px;
	color: #4D4D4D;
	text-align: center;
	vertical-align: top;
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}
.compare-info {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	margin-bottom: 20px;
	margin-top: 20px;
}
.compare-info thead td, .compare-info thead tr td:first-child {
	color: #000000;
	font-size: 14px;
	font-weight: bold;
	background: #F7F7F7;
	text-align: left;
}
.compare-info tr td:first-child {
	color: #000000;
	font-weight: bold;
	text-align: right;
}
.compare-info td {
	padding: 7px;
	color: #4D4D4D;
	text-align: center;
	vertical-align: top;
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}
.compare-info .name a {
	font-weight: bold;
}
.compare-info .price-old {
	font-weight: bold;
	color: #F00;
	text-decoration: line-through;
}
.compare-info .price-new {
	font-weight: bold;
}
/* wishlist */
.wishlist-info table {
	width: 100%;
	border-collapse: collapse;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
.wishlist-info td {
	padding: 7px;
}
.wishlist-info thead td {
	color: #4D4D4D;
	font-weight: bold;
	background-color: #F7F7F7;
	border-bottom: 1px solid #DDDDDD;
}
.wishlist-info thead .image {
	text-align: center;
}
.wishlist-info thead .name, .wishlist-info thead .model, .wishlist-info thead .stock {
	text-align: left;
}
.wishlist-info thead .quantity, .wishlist-info thead .price, .wishlist-info thead .total, .wishlist-info thead .action {
	text-align: right;
}
.wishlist-info tbody td {
	vertical-align: top;
	border-bottom: 1px solid #DDDDDD;
}
.wishlist-info tbody .image img {
	border: 1px solid #DDDDDD;
}
.wishlist-info tbody .image {
	text-align: center;
}
.wishlist-info tbody .name, .wishlist-info tbody .model, .wishlist-info tbody .stock {
	text-align: left;
}
.wishlist-info tbody .quantity, .wishlist-info tbody .price, .wishlist-info tbody .total, .wishlist-info tbody .action {
	text-align: right;
}
.wishlist-info tbody .price s {
	color: #F00;
}
.wishlist-info tbody .action img {
	cursor: pointer;
}
.login-content {
	margin-bottom: 20px;
	overflow: auto;
}
.login-content .left {
	float: left;
	width: 48%;
}
.login-content .right {
	float: right;
	width: 48%
}
.login-content .left .content, .login-content .right .content {
	min-height: 190px;
}
/* orders */
.order-list {
	margin-bottom: 10px;
}
.order-list .order-id {
	width: 49%;
	float: left;
	margin-bottom: 2px;
}
.order-list .order-status {
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px;
}
.order-list .order-content {
	padding: 10px 0px;
	display: inline-block;
	zoom: 1;
	*display: inline;
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
}
.order-list .order-content div {
	float: left;
	width: 33.3%;
}
.order-list .order-info {
	text-align: right;
}
.order-detail {
	background: #EFEFEF;
	font-weight: bold;
}
/* returns */
.return-list {
	margin-bottom: 10px;
}
.return-list .return-id {
	width: 49%;
	float: left;
	margin-bottom: 2px;
}
.return-list .return-status {
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px;
}
.return-list .return-content {
	padding: 10px 0px;
	display: inline-block;
	zoom: 1;
	*display: inline;
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
}
.return-list .return-content div {
	float: left;
	width: 33.3%;
}
.return-list .return-info {
	text-align: right;
}
.return-product {
	overflow: auto;
	margin-bottom: 20px;
}
.return-name {
	float: left;
	width: 31%;
	margin-right: 15px;
}
.return-model {
	float: left;
	width: 31%;
	margin-right: 15px;
}
.return-quantity {
	float: left;
	width: 31%;
}
.return-detail {
	overflow: auto;
	margin-bottom: 20px;
}
.return-reason {
	float: left;
	width: 31%;
	margin-right: 15px;
}
.return-opened {
	float: left;
	width: 31%;
	margin-right: 15px;
}
.return-opened textarea {
	width: 98%;
	vertical-align: top;
}
.return-captcha {
	float: left;
}
.download-list {
	margin-bottom: 10px;
}
.download-list .download-id {
	width: 49%;
	float: left;
	margin-bottom: 2px;
}
.download-list .download-status {
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px;
}
.download-list .download-content {
	padding: 10px 0px;
	display: inline-block;
	zoom: 1;
	*display: inline;
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
}
.download-list .download-content div {
	float: left;
	width: 33.3%;
}
.download-list .download-info {
	text-align: right;
}
/* cart */
.cart-info table {
	width: 100%;
	margin-bottom: 15px;
	border-collapse: collapse;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
}
.cart-info td {
	padding: 7px;
}
.cart-info thead td {
	color: #4D4D4D;
	font-weight: bold;
	background-color: #F7F7F7;
	border-bottom: 1px solid #DDDDDD;
}
.cart-info thead .image {
	text-align: center;
}
.cart-info thead .name, .cart-info thead .model, .cart-info thead .quantity {
	text-align: left;
}
.cart-info thead .price, .cart-info thead .total {
	text-align: right;
}
.cart-info tbody td {
	vertical-align: top;
	border-bottom: 1px solid #DDDDDD;
}
.cart-info tbody .image img {
	border: 1px solid #DDDDDD;
}
.cart-info tbody .image {
	text-align: center;
}
.cart-info tbody .name, .cart-info tbody .model, .cart-info tbody .quantity {
	text-align: left;
}
.cart-info tbody .quantity input[type='image'], .cart-info tbody .quantity img {
	position: relative;
	top: 4px;
	cursor: pointer;
}
.cart-info tbody .price, .cart-info tbody .total {
	text-align: right;
}
.cart-info tbody span.stock {
	color: #F00;
	font-weight: bold;
}
.cart-module > div {
	display: none;
}
.cart-total {
	border-top: 1px solid #DDDDDD;
	overflow: auto;
	padding-top: 8px;
	margin-bottom: 15px;
}
.cart-total table {
	float: right;
}
.cart-total td {
	padding: 3px;
	text-align: left;
}
/* checkout */
.checkout-heading {
	background: #F8F8F8;
	border: 1px solid #DBDEE1;
	padding: 8px;
	font-weight: bold;
	font-size: 13px;
	color: #555555;
	margin-bottom: 15px;
}
.checkout-heading a {
	float: right;
	margin-top: 1px;
	font-weight: normal;
	text-decoration: none;
}
.checkout-content {
	padding: 0px 0px 15px 0px;
	display: none;
	overflow: auto;
}
.checkout-content .left {
	float: left;
	width: 48%;
}
.checkout-content .right {
	float: right;
	width: 48%;
}
.checkout-content .buttons {
	clear: both;
}
.checkout-product table {
	width: 100%;
	border-collapse: collapse;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
.checkout-product td {
	padding: 7px;
}
.checkout-product thead td {
	color: #4D4D4D;
	font-weight: bold;
	background-color: #F7F7F7;
	border-bottom: 1px solid #DDDDDD;
}
.checkout-product thead .name, .checkout-product thead .model {
	text-align: left;
}
.checkout-product thead .quantity, .checkout-product thead .price, .checkout-product thead .total {
	text-align: right;
}
.checkout-product tbody td {
	vertical-align: top;
	border-bottom: 1px solid #DDDDDD;
}
.checkout-product tbody .name, .checkout-product tbody .model {
	text-align: left;
}
.checkout-product tbody .quantity, .checkout-product tbody .price, .checkout-product tbody .total {
	text-align: right;
}
.checkout-product tfoot td {
	text-align: right;
	border-bottom: 1px solid #DDDDDD;
}
.contact-info {
	overflow: auto;
}
.contact-info .left {
	float: left;
	width: 48%;
}
.contact-info .right {
	float: left;
	width: 48%;
}
.sitemap-info {
	overflow: auto;
	margin-bottom: 40px;
}
.sitemap-info .left {
	float: left;
	width: 48%;
}
.sitemap-info .right {
	float: left;
	width: 48%;
}

/*contact*/

#contact-map {
    margin-bottom: 20px;
}
.contact-customhtml {
    background: none repeat scroll 0 0 #fff;
    padding: 20px;
}
.contact-address{ 
    margin-bottom: 25px;
	}
.contact-address ul li{
        padding:  10px 0;
        border-bottom: 1px dashed #ccc;
		}
.contact-address ul li i {
                color: #888;
            float: left;
            font-size: 25px;
            line-height: 40px;
            text-align: center;
	    width: 35px;
        }
.contact-address ul li span {
            display: inline-block;
            padding-left: 15px;
        }


.contact-customhtml ul li {
        padding: 7px 0;
		}
.contact-customhtml ul li i {
           background-color: #676767;
		color: #FFFFFF;
		float: left;
		font-size: 20px;
		margin-top: 5px;
		padding: 8px 5px 6px 10px;
        }
.contact-customhtml ul li span {
            display: inline-block;
            padding-left: 5px;
        }


/*showcase*/
#pav-mass-bottom {
	position: relative;
}
#pav-mass-bottom:before {
	background: url(../images/bg-footer-after.png) repeat scroll left top;
	content: "";
	height: 396px;
	position: absolute;
	top: -35px;
	width: 100%;
}
#pav-mass-bottom .box .box-heading {
	background:none;
	border:none;
}
#pav-mass-bottom .box-heading h3 {
	text-transform: uppercase;
	font-size: 20px;
	color: #623f0d;
	background:  none;
}
/* footer */ 
#columns {
    position: relative;
    z-index: 1;
}

#footer {
		clear: both;
		position: relative;
			background: url(../images/bg-footer.jpg) repeat scroll left bottom;
			box-shadow: 0 -4px 6px -5px #444 ;

	}
		#footer ul li a {
		    color: #b1aba3;
		    font-size: 12px
		}
		#footer ul li:hover a {
		    color: #f4efe9;
		}
		}
	#footer .container-inner {
		margin-right: -10px;
		margin-left: -10px;
	}
	#footer .footer-top {
		color: #6f665b;
		box-shadow: 0 0 0 1px rgba(179, 144, 100, 0.1) inset;
	}
		#footer .footer-top  .container{
		}
		.footer-top .box {
		}
	
	#footer .footer-top {
		background: url(../images/bg-footer-top.jpg) repeat scroll left bottom;
	}
		
		.footer-center{
			border-top:  1px solid #3f3222;
		}
		.footer-center .container-inner {
			border-bottom: 1px solid #403324;
		}
	#footer .footer-bottom {

	}
		.footer-bottom .container-inner {
			border-top: 1px solid #52422f;
		}

	#footer .box .box-content{
			background:none;
			border:none;
			padding:0;
			margin:0;
		}

#footer h3 {
	color: #EFE5D9;
    font-size: 16px;
}
#footer .column {

}
#footer .column ul {
}
#footer .column ul li {
	margin-bottom: 5px;
}
#footer .column a {
	text-decoration: none;
}
#footer .column a:hover {
	text-decoration: underline;
}

/*social*/
.social ul li {
    line-height: 15px;
    padding: 5px 0;
}
.social ul li:hover {
	color: #5c4a32;
}
.social ul li span {
	background-image: url(../images/icon-social.png);
	background-repeat: no-repeat;
	text-indent:  -9999em;
	display: inline-block;
	overflow: hidden;
	height:  18px;
	 width: 18px;
	position: relative;
	top: 0;
	margin-right: 5px;
	float: left;
}
.social ul li.facebook span {
	background-position: left 0px;
}
.social ul li.twitter span {
	background-position: left -42px;
}
.social ul li.vimeo span {
	background-position: left -90px;
}
.social ul li.rss span {
	background-position: left -132px;
}
.social ul li.facebook:hover span {
	background-position: right 0px;
}
.social ul li.twitter:hover span {
	background-position: right -42px;
}
.social ul li.vimeo:hover span {
	background-position: right -90px;
}
.social ul li.rss:hover span {
	background-position: right -132px;
}
.footer-bottom p {
	    color: #B1ABA3;
    font-size: 12px;
    margin-bottom: 3px;
}

/*powered*/
#powered {
    background: none repeat scroll 0 0 #34291B;
    font-size: 12px;
}
#powered .container-inner {
	padding: 20px 0;
}
.copyright {
}
.copyright a {
	color: #f6470a;
	font-size: 13px;
 }
 .copyright  a:hover{
	text-decoration:underline;
 }
/* footer top */


/* banner */
.banner div {
	text-align: center;
	width: 100%;
	display: none;
}
.banner div img {
	margin-bottom: 20px;
}
/*custom module*/

.newsletter-submit .inputbox {
    height: 19px;
    line-height: 19px;
    margin-bottom: 0;
    background-color: #392d1f;
   	 border: 1px solid #4c3d2b;
   	 width: 65%;
   	 color: #b1aba3;
}
.newsletter-submit .button {
	background-color: #5c4a34;
	background-image: -moz-linear-gradient(top, #745f46, #5c4a34);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#745f46), to(#5c4a34));
	background-image: -webkit-linear-gradient(top, #745f46, #5c4a34);
	background-image: -o-linear-gradient(top, #745f46, #5c4a34);
	background-image: linear-gradient(to bottom, #745f46, #5c4a34);
	background-repeat: repeat-x;
	height: 30px;
    padding: 0 10px;
   	border-radius:  0;
   	 margin-top: 0;
   	 color: #f4e7e5;
   	 text-transform: uppercase;
   	 font-size: 11px;
   	 font-family: arial;
}

/*product-related*/
.product-related .product-block .image img {
	width: 100%;
}
.product-related .title-related {
	background: url(../images/bg-menu.png) repeat scroll left top;
	color: #f1e7d2;
	padding: 0 15px;
	font-size: 16px;
	font-family: "Georgia",arial;
	height: 25px;
	line-height: 25px;
	border: 3px solid #eceadf;
	display:  inline-block;
}

.sidebar .box-produce .product-block .group-item {
	display: none;
}
/*column-left + column-right = .sidebar */
.sidebar:before {
    content: "";
    height: 100%;
    position: absolute;
    width: 23.4%;
}
#column-left:before {
	background: url(../images/bg_column_left.png) repeat-y scroll right top ;
}
#column-right:before {
	background: url(../images/bg_column_right.png) repeat-y scroll 0 top ;
}
#column-right .box {
	 padding-left:  10px;
}
.sidebar .box-heading h3{
	background: url(../images/bg-title.png) repeat-x left bottom scroll; 
	 color: #5E4A32;
    font-size: 18px;
}
.sidebar .box-produce .box-product {
    background: none;
    border-bottom: none;
    border-left: none;
    border-top: none;
}
.sidebar .box-product .product-block {
	width: 100%!important;
	margin-left: 0;
}
.sidebar .box-product .product-inner {
    display: block;
    overflow: hidden;
    padding: 0 10px 0 0;
}
.sidebar .box-product .cart {
	display: none;
}
.sidebar .box-produce .price,
.sidebar .box-produce .cart {
	width: auto;
	clear: none;
	}
.sidebar .box-product .image {
	float: left;
	margin-right: 5px;
}
.sidebar .box-product .image img {
}
.sidebar .product-block .name a {
	font-size: 15px;
    margin: 0;
    max-height: 20px;
    overflow: hidden;
}
.sidebar .product-block .description {
}
.sidebar .product-block .price  {
	background: none;
	text-align: left;
}
.sidebar  ul li {
	}
.sidebar  ul > li a {
}

.sidebar  ul li a {
	text-decoration: none;
	background-image: url(../images/arrow-li.png);
	background-repeat: no-repeat;
	background-position: 10px 13px;
	padding-left: 25px;
	line-height: 31px;
	display:  block;
    border-bottom: 1px dashed #DFE0E4;
}
.sidebar ul li a.active,
.sidebar ul li a:hover{
	background-position: 10px -31px;
	background-color: rgba(223, 223, 223, 0.2); 
	color: #5b4941;
}

/*Pav HighLight Featured Products*/
.pavfeatured .box-heading h3 {
	margin-left: -10px;
	margin-right: -10px;
	text-align: center;
}
.pavfeatured .carousel-body {
	padding-left: 20px;
	margin-right: -25px;
}
.pavfeatured .featured-products {
    position: relative;
}
.pavfeatured .carousel-control {
	z-index: 10;
}
.featured-banner {
	 text-align: right;
}
.featured-banner .img-banner {
	   margin-left: 45px;
    margin-top: 20px;
    padding: 15px;
	border: 1px solid #e0e0e0;
	border-radius:  5px;
	text-align: center;
}
.featured-banner img {
}
.pavfeatured a.carousel-control{
		height: 22px;
		margin: 0;
		width: 22px;
		background-image:url(../images/icon-control.png) ;
		background-repeat: no-repeat;
		background-color: transparent;
		border: none;
		top:150px;
		border-radius:0;
		opacity: 1;
		display: block;
		overflow:hidden;
		text-indent: -9999em;
	position:absolute;
	}
	.pavfeatured a.left{
		background-position: left 0px;
		left: -6px;
	}.pavfeatured a.left:hover{
		background-position: left bottom;
	}
	.pavfeatured a.right{
		background-position: right 0px;
		right: -55px;
	}
	.pavfeatured a.right:hover{
		background-position: right bottom;
	}
	.sidebar .pavfeatured .box-heading h3 {
	    margin-left: 0;
	    margin-right: 0;
	    text-align: center;
	}

	.sidebar .pavfeatured .featured-banner {
		display:  none;
	}
	.sidebar .pavfeatured .featured-products,
	.sidebar .pavfeatured .featured-banner {
		width:  100%;
	}
	.sidebar .pavfeatured .carousel-body {
	    margin-right: 0;
	    padding-left: 0;
	}
	.sidebar .pavfeatured a.right {
	    right: 0;
	}

	.sidebar .pavfeatured a.left {
	    left: 0;
	}
	.sidebar .pavfeatured a.carousel-control {
		 top: -33px;
	}
/*no-border*/
.pavfeatured .no-border .box-content	{
	border: none!important;
}
/*list-menu*/
.list-menu li { 
	display: inline-block;

}
.list-menu li a {
	color: #b9bcbd;
	padding-left: 10px;
	padding-right: 10px
}
.list-menu li a:hover {
	color: #5c4a32;
}
.list-menu li:first-child a {
	padding-left:  0;
}
/*box-style*/
.box-style {
	background-color: #fff;
	box-shadow: 0 0 1px 0 rgba(179, 144, 100, 0.5);
	margin-left: -10px;
	margin-right: -10px;
}
/*cus-welcome*/
.cus-welcome {
	padding: 10px 10px 8px 10px;
}
.cus-welcome .content-text {    
	margin-left: -17px;
    margin-top: 20px;
    text-align: center;

}
/*cus-stores*/
.content-stores img {
    background: none repeat scroll 0 0 #D1C7BD;
    border-radius: 5px 5px 5px 5px;
    height: auto;
    margin-right: 7px;
    max-width: 100%;
    padding: 7px;
    vertical-align: middle;
}
/*cus-style*/
.cus-style {
	background-color: #FFFFFF;
    box-shadow: 0 0 1px 0 rgba(179, 144, 100, 0.5);
    overflow: hidden;
    min-height: 176px;
}

.cus-style .cus-body {
	 padding-right: 10px;
}
.cus-style img {
	float: left;
	padding: 10px 10px 0;
	position:  relative;
	z-index: 2;
}
.cus-style h1 {
	    margin-bottom: 3px;
    padding-top: 25px;
    text-align: center;
    text-transform: uppercase;
}
.cus-style .shopnow {
	background:  #f1eee9;
	bottom: 0;
    margin-bottom: 0;
    position: absolute;
    text-align: right;
    width: 100%;}
.cus-style .shopnow a{
    line-height: 37px;
    font-size: 16px;
    color: #705b41;
    background: url(../images/icon-shownow.png) no-repeat right 5px scroll;
    padding-right: 20px;
    margin-right: 20px;

}
.cus-style .shopnow a:hover {
	 color: #C24913;
	 background-position: right -26px;
}
.margin-right {
	margin-right: -10px;
}
.margin-left {
	margin-left: -10px;
}
.pattern1{background:url(../image/pattern/pattern1.png);	}
.pattern2{background:url(../image/pattern/pattern2.png);	}
.pattern3{background:url(../image/pattern/pattern3.png);	}
.pattern4{background:url(../image/pattern/pattern4.png);	}
.pattern5{background:url(../image/pattern/pattern5.png);	}
.pattern6{background:url(../image/pattern/pattern6.png);	}
.pattern7{background:url(../image/pattern/pattern7.png);	}
.pattern8{background:url(../image/pattern/pattern8.png);	}
.pattern9{background:url(../image/pattern/pattern9.png);	}
.pattern10{background:url(../image/pattern/pattern10.png);}
.pattern11{background:url(../image/pattern/pattern11.png);}
.pattern12{background:url(../image/pattern/pattern12.png);}
.pattern13{background:url(../image/pattern/pattern13.png);}
.pattern14{background:url(../image/pattern/pattern14.png);}
.pattern15{background:url(../image/pattern/pattern15.png);}
.pattern16{background:url(../image/pattern/pattern16.png);}


/**
 * OFF CANVAS MENU 
 */
@media (min-width: 979px)  {
	body.off-canvas-active > * {
		transform:translateX(0px) !important;
		-webkit-transform:translateX(0px) !important;

	}
	body.off-canvas-active #page-container{
		position: inherit!important;
	}
	#off-canvas-nav {
		display:none;
	}
}

.off-canvas body > *, #off-canvas-nav .pavo-mainnav  {
	transition:all 500ms ease 0s;
}
body.off-canvas-active > * {
	transform:translateX(250px);
	-webkit-transform:translateX(250px);
}

body.off-canvas-active #page-container{
	position:fixed;
}
body.off-canvas-inactive #page-container {
}
body.off-canvas-inactive >#off-canvas-nav{
	 overflow:hidden;
}
body.off-canvas-active >#off-canvas-nav .pavo-mainnav {
	left: -256px;
}

.off-canvas body{ overflow-x: hidden; }
#page-container{ position: relative;}


#off-canvas-nav {
    backface-visibility: hidden;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 0px;

}
#off-canvas-nav .pavo-mainnav {
	width:210px;
	padding: 12px 18px;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: -500px;
	background: #ffffff;
	height: 100 
}

#off-canvas-nav .megamenu .mega-cols{ width: 100%; min-width:inherit; }
#off-canvas-nav .dropdown-menu{
	position: relative;
	 display: block;
	 left: 0;
	 right: 0;
	 top: 0;
	 float: none;
	border: none;
	 box-shadow: none;
	 margin: 0;
	  padding: 0 10px;
	width: auto!important;
	background:#ffffff;
}
#off-canvas-nav .dropdown-mega,
#off-canvas-nav  li.mega-group .dropdown-menu {
	padding: 0 15px;
}
#off-canvas-nav .mega-col {
	display: block;
	width: 100%;
	position: relative;
}
#off-canvas-nav .megamenu .mega-group > a .menu-title {
	font-size:  13px;
	text-transform: none;
	padding: 5px 0;
}

#off-canvas-nav .pavo-widget .menu-title{
	color: #555;
	}
#off-canvas-nav #off-canvas-button {   background: #FFF; padding: 12px 0px; font-weight: bold;  }
#off-canvas-nav #off-canvas-button span{ 
	font-weight: bold; 
	margin-right: 12px ; 
}
#off-canvas-nav .dropdown .dropdown-menu li,#off-canvas-nav .megamenu .dropdown-mega li {
	 background:  none;
}
#off-canvas-nav .nav > li:hover, 
#off-canvas-nav .nav > li > a:hover, #off-canvas-nav .nav > li > a:focus {
	 background:  none;
}
#off-canvas-nav .dropdown .dropdown-menu li:hover,
#off-canvas-nav .megamenu .mega-group > a .menu-title {
color:#5C5B5B;
}
#off-canvas-nav .nav > li > a:hover,
#off-canvas-nav .dropdown .dropdown-menu li a:hover {
    color: #C24913;
}
#off-canvas-nav .megamenu li.homepage a {
	 height: auto;
	 width: auto;
	 text-indent: inherit;
}
#off-canvas-nav .nav li {
	 border:none;
	 padding:  0;
}
#off-canvas-nav ul li a {
	 border-bottom:  1px solid #e0e0e0;
	 display:  block;
	 line-height: 30px;
	 color: #5C5B5B;
}
#off-canvas-nav .nav > li > a {  
	font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding:  5px 0;
    line-height: 35px;
}
#off-canvas-nav .megamenu .menu-desc {
	display:  none;
}
#off-canvas-nav .megamenu .menu-icon {
	padding-left: 0;
}
#off-canvas-nav .megamenu .mega-col .margin {
	margin-left: 0;
}